
<h2>Post Meet Up Infomation Here</h2>
<%- include('../partials/header') %>
<br><br>
<form id="new-form" action="/events" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <br><br>
  <label>Content</label>
  <input type="text" name="content">
  <input type="submit" value="Add Events">
</form>

<br><br>
<% if(events) { %>
  <% events.forEach(function(event) { %>
    <section>
      
      <img src="<%= event.userAvatar %>"
      class="img-circle" width="50" alt="avatar">
    <div><%= event.title  %>  </div> 
    <div>Content: <%= event.content %> </div> 
    <br><br>
    <button id="myButton">Going</button>
    <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
  </section>
    <br><br>
    <% }); %>
<% } %>
<%- include('../partials/footer') %>