<%- include('../partials/header') %>

<h2>Welcome To Share Anything Here</h2>


<form id="new-form" action="/posts" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <br><br>
  <label>Content</label>
  <input type="text" name="content">
  <input type="submit" value="Add Posts">
</form>

<br><br>
<% if(posts) { %>
  <% posts.forEach(function(post) { %>
    <section>
      
      <img src="<%= post.userAvatar %>"
      class="img-circle" width="50" alt="avatar">
    <div>Title: <%= post.title  %>  </div> 
    <div>Content:  <%= post.content %> </div>
    <a href="/posts/<%= post._id %>/comments/new">Add Comment</a>
  </section>
    <br><br>
    <% }); %>
<% } %>
<%- include('../partials/footer') %>