
<h2>Welcome To Share Anything Here</h2>
<%- include('../partials/header') %>
<br><br>
<form id="new-form" action="/posts" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <br><br>
  <label>Content</label>
  <input type="text" name="content">
  <input type="submit" value="Add Posts">
</form>

<br><br>
<hr>
<% if(posts) { %>
  <% posts.forEach(function(post) { %>
    <section>
      <img src="<%= post.userAvatar %>"
      class="img-circle" width="50" alt="avatar">
      <br><br>
    <div>Title:<%= post.title  %>  </div> 
    <div>Content: <%= post.content %> </div> 
    <br>
    <a class="link" href="/posts/<%= post._id %>">See Details</a>
    <br><br>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
    <hr>
  </section>
    <br><b
    <% }); %>
<% } %>
<%- include('../partials/footer') %>