<%- include('../partials/header') %>
<br><br>
<section id="show-page">
    <div>Title:  <%= post.title %> </div>
    <div>Content: <%= post.content %> </div>
  </section>
 <br><br>
<h3>Enter The Comment</h3>
<form action="/posts/<%=post._id %>/comments" method="POST">   
    <label>comment</label>
        <input type="text" required name="content">
    <br><br>
    <input type="submit" value="Add Comment">
    </form>
    <br><br>
    <hr>
    <% if(post) { %>
        <% post.comments.forEach(function(comment) { %>
          <section>
            <img src="<%= comment.userAvatar %>"
            class="img-circle" width="50" alt="avatar">
            <br><br>
          <div><%= comment.content %> </div> 
          <br>
          <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <input name="content" value="<%= comment.content %>">       
            <button class="updateBtn" type="submit">Update Comment</button>
          </form>
          <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        <% }); %>
     <% } %>
<%- include('../partials/footer') %>